<div>
  <div class="row">
    <input type="text" [formControl]="searchInput" (keyup.enter)="search($event)"/>
  </div>

  <div [hidden]="!showQuickResults" [ngClass]="['col s12', 'row', 'card']" style="margin-top: -2.5rem;">

    <gs-search-bar-panel
      *ngIf="games$ | async as games"
      [collection]="games"
      [link]="'/game/'"
      [title]="'Found games'"></gs-search-bar-panel>

    <gs-search-bar-panel
      *ngIf="companies$ | async as companies"
      [collection]="companies"
      [link]="'/company/'"
      [title]="'Found companies'"></gs-search-bar-panel>

    <gs-search-bar-panel
      *ngIf="franchises$ | async as franchises"
      [collection]="franchises"
      [link]="'/franchise/'"
      [title]="'Found companies'"></gs-search-bar-panel>

  </div>
</div>
