<div>
  <div class="row">
    <input type="text" [formControl]="searchInput" (keyup.enter)="search($event)"/>
  </div>

  <div [hidden]="!searchInput.value" [ngClass]="['col s12', 'row', 'card']" style="margin-top: -2.5rem;">

    <gs-search-bar-panel
        [collection]="games"
        [link]="'/game/'"></gs-search-bar-panel>

    <gs-search-bar-panel
      [collection]="companies"
      [link]="'/company/'"></gs-search-bar-panel>

    <gs-search-bar-panel
      [collection]="franchises"
      [link]="'/franchise/'"></gs-search-bar-panel>

  </div>
</div>
