<div>
  <div class="row">
    <input type="text" [formControl]="searchInput" />
  </div>

  <div class="row">
    <div *ngIf="games$ | async" class="gs_found-games">
      <ul>
        <li>
          <h6>Found Games:</h6>
        </li>
        <li *ngFor="let game of (games$ | async)" [routerLink]="['/game/', game.id]" >
          <span [innerHTML]="game.name | highlight: searchInput.value"></span>
        </li>
      </ul>
    </div>

    <div *ngIf="companies$ | async" class="gs_found-games">
      <ul>
        <li>
          <h6>Found Categories:</h6>
        </li>
        <li *ngFor="let company of (companies$ | async)" [routerLink]="['/game/', company.id]" >
          <span [innerHTML]="company.name | highlight: searchInput.value"></span>
        </li>
      </ul>
    </div>

    <div *ngIf="franchises$ | async" class="gs_found-games">
      <ul>
        <li>
          <h6>Found Frachises:</h6>
        </li>
        <li *ngFor="let franchise of (franchises$  | async)" [routerLink]="['/game/', franchise.id]" >
          <span [innerHTML]="franchise.name | highlight: searchInput.value"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
